.sign-up-wrapper {
  border: 1px solid #eee;
  background-color: rgba(255, 255, 255, .9);
  /* padding: 100px; */
  height: 80vh;
}

@media screen and (max-width: 1400px) {
  .sign-up-container {
    padding-right: 25%;
    padding-left: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .sign-up-container {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media screen and (max-width: 1024px) {
  .sign-up-container {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media screen and (max-width: 625px) {
  .sign-up-container {
    padding-right: 5%;
    padding-left: 5%;
  }
}
